# Lecture 1 code - Introduction

## How to run a cell in your jupyter:

In [1]:
## control + return
## shift + return (runs current cell and moves to next cell)

## Variables and Comments

### Define variables

In [2]:
a = 2
b = 3

### print results

In [3]:
print(a)
print(b)

2
3

### comments

In [4]:
# the hash is used as a comment.  You can use it in the beginning of a line or after a command

#### because there is a hash in front of this assignment it will not change a to equal 4 if you would like to take additional notes please use the hash

In [5]:
# a = 4
a

2

## Use python as a calculator

In [6]:
a + b

5

## Lists

### Create a list

In [7]:
first_list = [3,5,6,1,5,1,2,8,2]
print(first_list)

[3, 5, 6, 1, 5, 1, 2, 8, 2]

### subsetting lists  (python starts at 0)

In [8]:
first_list[0]

3

### prints out 3rd item in list

In [9]:
first_list[2]

6

### subset items 1 to 3

In [10]:
first_list[0:3]

[3, 5, 6]

### putting a negative sign prints things from the other end

In [11]:
first_list[-1]

2

### notice how the list still includes all the items

In [12]:
first_list

[3, 5, 6, 1, 5, 1, 2, 8, 2]

### if you want to create a list with the printed object you need to assign the function to a variable

In [13]:
last = first_list[-1]
print(last)

2

### Your turn!

#### You have a list of how many hours a group of 20 student slept last night.

In [14]:
hours_slept = [6,7,6.5,5,7,8,8,7.5,4,9,6,6.7,5,5,5.5,6,7.5,4,8,8]
print(hours_slept)

[6, 7, 6.5, 5, 7, 8, 8, 7.5, 4, 9, 6, 6.7, 5, 5, 5.5, 6, 7.5, 4, 8, 8]

#### Print out how many hours the 8th student slept last night

In [15]:
hours_slept[7]

7.5

#### Assign the first 10 students to a new list called hours_slept10

In [16]:
hours_slept[:10]

[6, 7, 6.5, 5, 7, 8, 8, 7.5, 4, 9]

### Create a data frame

#### Import pandas package

In [17]:
import pandas as pd

#### say we collected hours of sleep AND test scores

In [18]:
test_scores=[.80,.85,.80,.70,.90,.90,.92,.87,.60,.87,.81,.90,.70,.77,.82,.93,.92,.74,.84,.95]

data = pd.DataFrame({'hours_slept': hours_slept,
                     'test_scores': test_scores})
data

    hours_slept  test_scores
0           6.0         0.80
1           7.0         0.85
2           6.5         0.80
3           5.0         0.70
4           7.0         0.90
5           8.0         0.90
6           8.0         0.92
7           7.5         0.87
8           4.0         0.60
9           9.0         0.87
10          6.0         0.81
11          6.7         0.90
12          5.0         0.70
13          5.0         0.77
14          5.5         0.82
15          6.0         0.93
16          7.5         0.92
17          4.0         0.74
18          8.0         0.84
19          8.0         0.95

### rows and columns

In [19]:
data.shape

(20, 2)

### Can you print out just the number of rows? (same as subsetting numbers in a list)

In [20]:
data.shape[0]

20

### characteristics/structure of data

In [21]:
data.dtypes

hours_slept    float64
test_scores    float64
dtype: object

In [22]:
data.describe()

       hours_slept  test_scores
count    20.000000    20.000000
mean      6.485000     0.829500
std       1.428755     0.091679
min       4.000000     0.600000
25%       5.375000     0.792500
50%       6.600000     0.845000
75%       7.625000     0.900000
max       9.000000     0.950000

### Subset the column called 'hours_slept

In [23]:
data['hours_slept']

0     6.0
1     7.0
2     6.5
3     5.0
4     7.0
5     8.0
6     8.0
7     7.5
8     4.0
9     9.0
10    6.0
11    6.7
12    5.0
13    5.0
14    5.5
15    6.0
16    7.5
17    4.0
18    8.0
19    8.0
Name: hours_slept, dtype: float64

### print hours_slept from the 9th student

In [24]:
data['hours_slept'][8]

4.0

In [25]:
data

    hours_slept  test_scores
0           6.0         0.80
1           7.0         0.85
2           6.5         0.80
3           5.0         0.70
4           7.0         0.90
5           8.0         0.90
6           8.0         0.92
7           7.5         0.87
8           4.0         0.60
9           9.0         0.87
10          6.0         0.81
11          6.7         0.90
12          5.0         0.70
13          5.0         0.77
14          5.5         0.82
15          6.0         0.93
16          7.5         0.92
17          4.0         0.74
18          8.0         0.84
19          8.0         0.95

### subsetting rows and columns from a data frame

In [26]:
# data.iloc[rows,columns]
data.iloc[0,1]

0.80000000000000004

### print first row

In [27]:
data.iloc[0]

hours_slept    6.0
test_scores    0.8
Name: 0, dtype: float64

### Print first column

In [28]:
data.iloc[:,0]

0     6.0
1     7.0
2     6.5
3     5.0
4     7.0
5     8.0
6     8.0
7     7.5
8     4.0
9     9.0
10    6.0
11    6.7
12    5.0
13    5.0
14    5.5
15    6.0
16    7.5
17    4.0
18    8.0
19    8.0
Name: hours_slept, dtype: float64

## Logical Arguments

### now we want to subset the data by a logical argument

In [29]:
a = 5
print(a)

5

### when we use 2 equal signs we are asking a logical question (boolean expression)

In [30]:
a==5

True

In [31]:
a==6

False

#### != means does not equal

In [32]:
a!=5

False

#### can also use these

In [33]:
print(a < 4)
print(a > 4)
print(a >= 5)
print(a<=10)

False
True
True
True

### back to our data frame

#### print the all the columns for the students who slept 5 hours

In [34]:
data[data.hours_slept == 5]

    hours_slept  test_scores
3           5.0         0.70
12          5.0         0.70
13          5.0         0.77

#### print only the test scores for students who slept 5 hours

In [35]:
data.loc[data.hours_slept < 5, ['test_scores']]

    test_scores
8          0.60
17         0.74

#### print all columns for students who slept less than 5 hours AND got better than or equal to .80 test score

In [36]:
data.loc[(data['hours_slept'] < 7) & (data['test_scores'] >= .8)]

    hours_slept  test_scores
0           6.0         0.80
2           6.5         0.80
10          6.0         0.81
11          6.7         0.90
14          5.5         0.82
15          6.0         0.93

#### print all columns for students who slept less than 7 hours OR got better than or equal to .80 test score

In [37]:
data.loc[(data['hours_slept']< 7 ) | (data['test_scores']>=.8)]

    hours_slept  test_scores
0           6.0         0.80
1           7.0         0.85
2           6.5         0.80
3           5.0         0.70
4           7.0         0.90
5           8.0         0.90
6           8.0         0.92
7           7.5         0.87
8           4.0         0.60
9           9.0         0.87
10          6.0         0.81
11          6.7         0.90
12          5.0         0.70
13          5.0         0.77
14          5.5         0.82
15          6.0         0.93
16          7.5         0.92
17          4.0         0.74
18          8.0         0.84
19          8.0         0.95

## Flexibility of Dataframes

#### create a minutes of sleep column

In [38]:
minutes_slept = data['hours_slept'] * 60
minutes_slept

0     360.0
1     420.0
2     390.0
3     300.0
4     420.0
5     480.0
6     480.0
7     450.0
8     240.0
9     540.0
10    360.0
11    402.0
12    300.0
13    300.0
14    330.0
15    360.0
16    450.0
17    240.0
18    480.0
19    480.0
Name: hours_slept, dtype: float64

### But there is no minutes_slept column in data?

In [39]:
data

    hours_slept  test_scores
0           6.0         0.80
1           7.0         0.85
2           6.5         0.80
3           5.0         0.70
4           7.0         0.90
5           8.0         0.90
6           8.0         0.92
7           7.5         0.87
8           4.0         0.60
9           9.0         0.87
10          6.0         0.81
11          6.7         0.90
12          5.0         0.70
13          5.0         0.77
14          5.5         0.82
15          6.0         0.93
16          7.5         0.92
17          4.0         0.74
18          8.0         0.84
19          8.0         0.95

### You need to put a data['minutes_slept'] in order to put it in the data frame

In [40]:
data['minutes_slept'] = data['hours_slept'] * 60
data

    hours_slept  test_scores  minutes_slept
0           6.0         0.80          360.0
1           7.0         0.85          420.0
2           6.5         0.80          390.0
3           5.0         0.70          300.0
4           7.0         0.90          420.0
5           8.0         0.90          480.0
6           8.0         0.92          480.0
7           7.5         0.87          450.0
8           4.0         0.60          240.0
9           9.0         0.87          540.0
10          6.0         0.81          360.0
11          6.7         0.90          402.0
12          5.0         0.70          300.0
13          5.0         0.77          300.0
14          5.5         0.82          330.0
15          6.0         0.93          360.0
16          7.5         0.92          450.0
17          4.0         0.74          240.0
18          8.0         0.84          480.0
19          8.0         0.95          480.0

### Can you create a new column called blank where you the data in the rows match the row numbers?

In [41]:
data['blank'] = range(20)

data

    hours_slept  test_scores  minutes_slept  blank
0           6.0         0.80          360.0      0
1           7.0         0.85          420.0      1
2           6.5         0.80          390.0      2
3           5.0         0.70          300.0      3
4           7.0         0.90          420.0      4
5           8.0         0.90          480.0      5
6           8.0         0.92          480.0      6
7           7.5         0.87          450.0      7
8           4.0         0.60          240.0      8
9           9.0         0.87          540.0      9
10          6.0         0.81          360.0     10
11          6.7         0.90          402.0     11
12          5.0         0.70          300.0     12
13          5.0         0.77          300.0     13
14          5.5         0.82          330.0     14
15          6.0         0.93          360.0     15
16          7.5         0.92          450.0     16
17          4.0         0.74          240.0     17
18          8.0         0.84          480.0     18
19          8.0         0.95          480.0     19

### say for some reason I want to a new column of the blank column minus the test scores column called subtraction

In [42]:
data['subtraction'] = data['blank'] - data['test_scores']
data

    hours_slept  test_scores  minutes_slept  blank  subtraction
0           6.0         0.80          360.0      0        -0.80
1           7.0         0.85          420.0      1         0.15
2           6.5         0.80          390.0      2         1.20
3           5.0         0.70          300.0      3         2.30
4           7.0         0.90          420.0      4         3.10
5           8.0         0.90          480.0      5         4.10
6           8.0         0.92          480.0      6         5.08
7           7.5         0.87          450.0      7         6.13
8           4.0         0.60          240.0      8         7.40
9           9.0         0.87          540.0      9         8.13
10          6.0         0.81          360.0     10         9.19
11          6.7         0.90          402.0     11        10.10
12          5.0         0.70          300.0     12        11.30
13          5.0         0.77          300.0     13        12.23
14          5.5         0.82          330.0     14        13.18
15          6.0         0.93          360.0     15        14.07
16          7.5         0.92          450.0     16        15.08
17          4.0         0.74          240.0     17        16.26
18          8.0         0.84          480.0     18        17.16
19          8.0         0.95          480.0     19        18.05